In [142]:
! pip install google-api-python-client

Requirement already satisfied: google-api-python-client in c:\users\dell\anaconda3\lib\site-packages (2.110.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5 in c:\users\dell\anaconda3\lib\site-packages (from google-api-python-client) (2.15.0)
Requirement already satisfied: google-auth<3.0.0.dev0,>=1.19.0 in c:\users\dell\anaconda3\lib\site-packages (from google-api-python-client) (2.22.0)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in c:\users\dell\anaconda3\lib\site-packages (from google-api-python-client) (0.1.1)
Requirement already satisfied: httplib2<1.dev0,>=0.15.0 in c:\users\dell\anaconda3\lib\site-packages (from google-api-python-client) (0.22.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\dell\anaconda3\lib\site-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in c:\users\dell\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (4.21.12)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in c:\users\dell\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (2.28.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\dell\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (1.62.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (5.3.1)
Requirement already satisfied: urllib3<2.0 in c:\users\dell\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (1.26.14)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\dell\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (0.2.8)
Requirement already satisfied: six>=1.9.0 in c:\users\dell\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\dell\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (4.9)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\dell\anaconda3\lib\site-packages (from httplib2<1.dev0,>=0.15.0->google-api-python-client) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\dell\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (0.4.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (2022.12.7)

In [143]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [144]:
#  extracting channel details.
api_key= "AIzaSyAOy_LQqpJtmrINcBME1ZBgawqvh514UDg"

channel_ids= ["UCBJycsmduvYEL83R_U4JriQ",
              "UCLLw7jmFsvfIVaUFsLs8mlQ",
              "UCiT9RITQ9PW6BhXK0y2jaeg",
              "UC2UXDak6o7rBm23k3Vv5dww"
              ]

youtube=build("youtube","v3",developerKey=api_key)

In [145]:
# scraping and analyzing videos adding channel name,subscribers,views,total videos and playlist id.
def get_channel_stats(youtube,channel_ids):
    all_data=[]
    request=youtube.channels().list(
              part="snippet,contentDetails,statistics",
              id=",".join(channel_ids))
    response=request.execute()

    for i in range(len(response["items"])):

      data=dict(channel_name=response["items"][i]["snippet"]["title"],
               subscribers=response["items"][i]["statistics"]["subscriberCount"],
               views=response["items"][i]["statistics"]["viewCount"],
               total_videos=response["items"][i]["statistics"]["videoCount"],
               playlist_id=response["items"][i]["contentDetails"]["relatedPlaylists"]["uploads"])
               
      
      all_data.append(data)
      

    
    return all_data

In [146]:
get_channel_stats(youtube,channel_ids)

[{'channel_name': 'Tina Huang',
  'subscribers': '593000',
  'views': '27352764',
  'total_videos': '164',
  'playlist_id': 'UU2UXDak6o7rBm23k3Vv5dww'},
 {'channel_name': 'Marques Brownlee',
  'subscribers': '18000000',
  'views': '3917853125',
  'total_videos': '1612',
  'playlist_id': 'UUBJycsmduvYEL83R_U4JriQ'},
 {'channel_name': 'Ken Jee',
  'subscribers': '255000',
  'views': '8731417',
  'total_videos': '286',
  'playlist_id': 'UUiT9RITQ9PW6BhXK0y2jaeg'},
 {'channel_name': 'Luke Barousse',
  'subscribers': '396000',
  'views': '19072960',
  'total_videos': '146',
  'playlist_id': 'UULLw7jmFsvfIVaUFsLs8mlQ'}]

In [147]:
channel_stats=get_channel_stats(youtube,channel_ids)

In [148]:
# Loading the data in a pandas data frame.
channel_data=pd.DataFrame(channel_stats)
channel_data

,channel_name,subscribers,views,total_videos,playlist_id
0,Luke Barousse,396000,19072960,146,UULLw7jmFsvfIVaUFsLs8mlQ
1,Tina Huang,593000,27352764,164,UU2UXDak6o7rBm23k3Vv5dww
2,Marques Brownlee,18000000,3917853125,1612,UUBJycsmduvYEL83R_U4JriQ
3,Ken Jee,255000,8731417,286,UUiT9RITQ9PW6BhXK0y2jaeg

In [149]:
channel_data.to_csv("channel_data.csv")

In [150]:
channel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   channel_name  4 non-null      object
 1   subscribers   4 non-null      object
 2   views         4 non-null      object
 3   total_videos  4 non-null      object
 4   playlist_id   4 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes

In [151]:
channel_data["subscribers"]=pd.to_numeric(channel_data["subscribers"])
channel_data["views"]=pd.to_numeric(channel_data["views"])
channel_data["total_videos"]=pd.to_numeric(channel_data["total_videos"])

channel_data.dtypes

channel_name    object
subscribers      int64
views            int64
total_videos     int64
playlist_id     object
dtype: object

In [152]:
channel_data

,channel_name,subscribers,views,total_videos,playlist_id
0,Luke Barousse,396000,19072960,146,UULLw7jmFsvfIVaUFsLs8mlQ
1,Tina Huang,593000,27352764,164,UU2UXDak6o7rBm23k3Vv5dww
2,Marques Brownlee,18000000,3917853125,1612,UUBJycsmduvYEL83R_U4JriQ
3,Ken Jee,255000,8731417,286,UUiT9RITQ9PW6BhXK0y2jaeg

In [153]:
playlist_id=channel_data.loc[channel_data["channel_name"]=="Ken Jee","playlist_id"].iloc[0]

In [154]:
playlist_id

'UUiT9RITQ9PW6BhXK0y2jaeg'

In [155]:
def get_video_ids(youtube, playlist_id):
    request = youtube.playlistItems().list(
        part="contentDetails",
        playlistId=playlist_id,
        maxResults=50
    )
    response = request.execute()

    video_ids = []

    for i in range(len(response["items"])):
        video_ids.append(response["items"][i]["contentDetails"]["videoId"])

    next_page_token = response.get("nextPageToken")

    more_pages = True

    while more_pages:
        if next_page_token is None:
            more_pages = False
        else:
            request = youtube.playlistItems().list(
                part="contentDetails",
                playlistId=playlist_id,
                maxResults=50,
                pageToken=next_page_token   
            )
            response = request.execute()

            for i in range(len(response["items"])):
                video_ids.append(response["items"][i]["contentDetails"]["videoId"])

            next_page_token = response.get("nextPageToken")

    return video_ids

In [156]:
video_ids=get_video_ids(youtube,playlist_id)

In [157]:
# Getting video details
def get_video_details(youtube,video_ids):

    all_video_stats=[]

    for i in range(0,len(video_ids),50):
     request=youtube.videos().list(
             part="snippet,statistics",
             id=",".join(video_ids[i:i+50]))
     response=request.execute()

     for video in response["items"]:
          video_stats=dict(Title=video["snippet"]["title"],
                           Published_date=video["snippet"]["publishedAt"],
                           Views=video["statistics"]["viewCount"],
                           Likes=video["statistics"]["likeCount"],
                         Comments=video["statistics"]["commentCount"])
          all_video_stats.append(video_stats)


    return all_video_stats

In [158]:
video_details=get_video_details(youtube,video_ids)

In [159]:
video_data=pd.DataFrame(video_details)
video_data

,Title,Published_date,Views,Likes,Comments
0,How Does ChatGPT Image Analysis Do on an IQ Test?,2023-11-30T12:00:22Z,1142,48,18
1,A Data Dream Come True,2023-11-17T12:00:28Z,1674,81,23
2,The Death of the Full-Time Job (Rise of the Co...,2023-09-22T11:46:35Z,5494,371,74
3,How to Survive a Down Data Job Market,2023-09-05T10:50:39Z,16249,536,63
4,The Harsh Reality of the Data Job Market,2023-08-24T11:30:19Z,105288,2564,295
...,...,...,...,...,...
281,How to Simulate NBA Games in Python,2018-11-19T23:31:49Z,17969,397,54
282,Should You Get A Masters in Data Science?,2018-11-14T01:39:33Z,20634,304,135
283,How I Became A Data Scientist From a Business ...,2018-11-12T00:26:08Z,6491,198,23
284,Predicting Season Long NBA Wins Using Multiple...,2018-07-10T16:39:52Z,8874,193,17
285,Predicting Crypto-Currency Price Using RNN lST...,2017-11-18T20:04:51Z,19075,295,41

In [160]:
video_data.to_csv("video_data(Ken Jee).csv")

In [161]:
video_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           286 non-null    object
 1   Published_date  286 non-null    object
 2   Views           286 non-null    object
 3   Likes           286 non-null    object
 4   Comments        286 non-null    object
dtypes: object(5)
memory usage: 11.3+ KB

In [162]:
video_data["Published_date"]=pd.to_datetime(video_data["Published_date"]).dt.date
video_data["Views"]=pd.to_numeric(video_data["Views"])
video_data["Likes"]=pd.to_numeric(video_data["Likes"])
video_data["Comments"]=pd.to_numeric(video_data["Comments"])

video_data

,Title,Published_date,Views,Likes,Comments
0,How Does ChatGPT Image Analysis Do on an IQ Test?,2023-11-30,1142,48,18
1,A Data Dream Come True,2023-11-17,1674,81,23
2,The Death of the Full-Time Job (Rise of the Co...,2023-09-22,5494,371,74
3,How to Survive a Down Data Job Market,2023-09-05,16249,536,63
4,The Harsh Reality of the Data Job Market,2023-08-24,105288,2564,295
...,...,...,...,...,...
281,How to Simulate NBA Games in Python,2018-11-19,17969,397,54
282,Should You Get A Masters in Data Science?,2018-11-14,20634,304,135
283,How I Became A Data Scientist From a Business ...,2018-11-12,6491,198,23
284,Predicting Season Long NBA Wins Using Multiple...,2018-07-10,8874,193,17
285,Predicting Crypto-Currency Price Using RNN lST...,2017-11-18,19075,295,41